training_classification/datasets/*
!training_classification/datasets/.gitkeep
!training_classification/datasets/dummy_generator.ipynb
training_classification/output*
training_classification/runs/*

training_ranking/datasets/*
!training_ranking/datasets/.gitkeep
!training_ranking/datasets/dummy_generator.ipynb
training_ranking/output*
training_ranking/runs/*